@import url(http://fonts.googleapis.com/css?family=Poller+One);

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html, body {
    font-size: 1em;
    line-height: 1.4;
    height: 50em;
    width: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.title {
    width: 75%;
    margin: auto;
    font: 5em "Poller One";
}

.subcap {
    width: 75%;
    margin: auto;
    font: 1em "Poller One";
}

.startButton {
    color: #fff;
    font-size: 3em;
    background-color: #2D608F;
}

.canvasBkgrnd {
    position: relative;
    /* CSS */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSJibGFjayIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJibGFjayIgLz48cmVjdCB4PSItOC4yNTY1JSIgeT0iLTQ3LjQyOSUiIHdpZHRoPSIxMTYuNTEzMSUiIGhlaWdodD0iMTk0Ljg1ODElIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 283, color-stop(0%, #ffffff), color-stop(100%, black));
    background-image: -webkit-radial-gradient(center center, farthest-corner circle, #ffffff 0%, black 100%);
    background-image: -moz-radial-gradient(center center, farthest-corner circle, #ffffff 0%, black 100%);
    background-image: -ms-radial-gradient(center center, farthest-corner circle, #ffffff 0%, black 100%);
    background-image: -o-radial-gradient(center center, farthest-corner circle, #ffffff 0%, black 100%);
    background-image: radial-gradient(farthest-corner circle at center center, #ffffff 0%, black 100%);
    width: 75%;
    height: 81%;
    margin: 2em auto 0 auto;
}

.photoBox {
    display: inline-block;
    background-color: #8E8E8E;
    border: solid #4E4E4E .2em;
    min-width: 100px;
    min-height: 100px;
    color: #fff; /*white text*/
    font-size: 2em;
    text-align: center;
    margin: auto auto;
}

.photoContainer {
    position: absolute;
    background-color: #8E8E8E;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.PropertyCard {
    margin: 1em;
    height: 12.6em;
}

.property, .PropertyCard {
    color: #2D608F;
    background-color: #CACACA;
    border: solid #4C4C4C;
    /*display: table-cell;*/
}

.cardImg {
    display: inline-block;
    background-image: url("../img/noimage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 175px;
    height: 175px;
    float: left;
}

.address {
    display: inline-block;
    color: black;
    font-weight: 800;
}

.priceTag {
    display: inline;
    font-size: 1.1em;
    color: #fff;
    padding: 0;
    top: 0;
    float: right;
    padding: 5px;
}

.cardInfo {
    width: 100%;
}

.allInfo {
    text-align: center;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.15em;
    padding-top: 0.15em;
    color: white;
    background-color: #2D608F;
}

.pagination {
    margin: 1em auto;
    width: 50%;
    height: 2em;
    text-align: center;
    position: relative;
}

.page {
    display: inline-block;
    background-image: url("../img/raindrop.png");
    background-size: 100% 100%;
    color: #000;
    width: 20px;
    height: 20px;
    font-weight: 800;
}

.saleOrRent {
    display: inline-block;
    background-image: url("../img/rent.png");
    background-size: 60%;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    bottom: 0;
    width: 100px;
    height: 140px;

}

.mapTxt {
    font-size: .7em;
}

.cardImgMenu {
    position: relative;
    width: 101%;
    background-color: #0F0047;
    height: 32px;
    bottom: 0px;
    left: -2px;
}

.contactBtn {
    display: inline-block;
    background-image: url("../img/contact.png");
    background-position: -3px -3px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 23%;
    height: 40px;
    padding: 0;
}

.mapBtn {
    display: inline-block;
    background-image: url("../img/mapicon.png");
    background-position: -3px 0px;
    background-size: 78% 78%;
    background-repeat: no-repeat;
    width: 23%;
    height: 40px;
    padding: 0;
}

.detailsCol1, .detailsCol2 {
    display: inline-block;
    font-size: .9em;
}

.preferred {
    display: inline-block;
    background-image: url("../img/star.png");
    background-size: 100% 100%;
    color: #000;
    width: 25px;
    height: 25px;
    position: absolute;
}

.address, .cardInfoSpec {
    padding-left: 0.5em;
}

.subsetProperties {
    width: 57%;
    margin: auto;
    height: 100%;
}

#page_1 {
    margin-left: 28px;
}

.dijitDialogTitleBar {
    background-color: #0F0047;
    color: white;
}

.dijitDialogCloseIcon {
    float: right;
    padding: 0 0.3em;
    border: solid white 1px;
    background-color: white;
    color: black;
}

.dijitDialogPaneContent {
    background-color: #fff;
    color: #0F0047;
    font-size: 2em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
